<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <title>Oops</title>
</head>
<body>
    {{>header}}
    <main>
        <h1>Seems you're lost</h1>
        <p>{{message}}</p>
        <img src="/img/404.gif" alt="">
    </main>
    {{>footer}}    
</body>
</html>